#post-comment
  - form_for(:task, task, :url => create_comment_task_path(task), :html => {:method => :post}) do |f|
    %fieldset
      .group
        %h4= f.label(:comment)
        %p= text_area_tag 'content'
    %p.buttons= f.submit(t(:'task-page.post-comment'))