:plain
  Your task #{@task.title} will be expiring soon with no submitted solutions.

  Please extend the deadline to give people more time to submit a solution.
  #{task_url(@task)}

  Thanks,
  The NextSprocket Team
  -------
  Get updates and chat with the team,
  Follow us on Twitter!
  http://twitter.com/nextsprocket