:plain
  #{@comment.profile.name} just commented on #{@task_submission.profile.name}'s submission for the task #{@task.title}.
  
  You can view the comment here:
  #{task_submission_url(@task, @task_submission)}

  Thanks,
  The NextSprocket Team
  -------
  Get updates and chat with the team,
  Follow us on Twitter!
  http://twitter.com/nextsprocket