:plain
  You've just created a new task on NextSprocket!

  The task page is available here:
  #{task_url(@task)}

  Tweet this task:
  Solve: #{truncate(@task.title, :length => 100)} #{@bitly_url}

  You'll receive emails from us whenever solutions are submitted - but feel free to browse the site!

  Thanks,
  The NextSprocket Team

  ---------------------

  Get updates and chat with the team,
  Follow us on Twitter!
  http://twitter.com/nextsprocket