:plain
  #{@comment.profile.name} just commented on the task #{@task.title}.
  
  You can view the comment here:
  #{task_url(@task)}

  Thanks,
  The NextSprocket Team
  -------
  Get updates and chat with the team,
  Follow us on Twitter!
  http://twitter.com/nextsprocket